* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", sans-serif;
  background-color: #f9fafb;
  color: #222;
  padding: 20px;
}

h2 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  color: #222;
}
